/*Digital Clock CSS*/

@font-face {
  font-family: digitalFont;
  src: url(digitaldreamfat.ttf);

}

body {
  font-family: digitalFont;
  background-color: #5600B2;

}

h1 {
  color: #F2F154;
  text-align: center;
}

.top {
  margin-top: 100px;
}

.day {
  font-size: 100px;
}

.date {
  font-size: 80px;
}

.time {
  font-size: 120px
}